# Environments
.env
.venv
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]

# Data & Models (Jangan push file gede!)
ai_engine/reports/*
ai_engine/data/
ai_engine/models/*.keras
ai_engine/models/*.h5
data_science/raw_data/
data_science/clean_data/

# WandB logs
wandb/

# Frontend
frontend/node_modules/
frontend/dist
frontend/dist-ssr
frontend/*.local
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*


# Backend
backend/node_modules/
backend/.env
backend/.vscode
