PORT=5000
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=capstone_project
DB_DIALECT=mysql
DB_PORT=3306

JWT_SECRET=rahasia

# konfigurasi endpoint AI Engine
AI_SCAN_SERVICE_URL=http://localhost:8000/api/diagnose
AI_CHAT_SERVICE_URL=http://localhost:8000/api/chat
GROQ_API_KEY=
AI_ENGINE_API_KEY=your_secure_ai_engine_secret_here

# konfigurasi SMTP untuk mengirim email
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=emailkamu@gmail.com
SMTP_PASS=abcdefg123456789
FRONTEND_URL=http://localhost:5173
