PORT=5000
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=capstone_project
DB_DIALECT=mysql
DB_PORT=3306

JWT_SECRET=rahasia

AI_SCAN_SERVICE_URL=https://rizsd21-career-diagnostic-ai-engine.hf.space/api/diagnose
AI_CHAT_SERVICE_URL=https://rizsd21-career-diagnostic-ai-engine.hf.space/api/chat
GROQ_API_KEY=
AI_ENGINE_API_KEY=your_secure_ai_engine_secret_here