PORT=5000
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=capstone_project
DB_DIALECT=mysql

JWT_SECRET=rahasia

AI_SCAN_SERVICE_URL=http://localhost:8000/api/diagnose
AI_CHAT_SERVICE_URL=http://localhost:8000/api/chat
GROQ_API_KEY=